<div class="row">
    <div class="col-3 sidebar">
        <div class="upload-box"
             ngf-multiple="true"
             ngf-drop-available="true"
             ngf-drag-over-class="'dragover'"
             ngf-drop="main.uploadFiles($files,'file')"
             ngf-select="main.uploadFiles($files,'file')"
             ngf-resize="{width: 600, height: 600, centerCrop: true}"
        >
            <span>בחר או גרור תמונות</span>
        </div>
        <div>
            <h4>יצירת רביעיה חדשה</h4>
            <form ng-submit="main.createGroup()">
                <div class="form-group">
                    <label>
                        שם
                    </label>
                    <input class="form-control" type="text" ng-model="main.newGroupName">
                </div>
                <button ng-disabled="!main.newGroupFormOk()" class="btn btn-primary" type="submit">יצירה</button>
            </form>
        </div>
        <ul class="list-group">
            <li class="bg-warning list-group-item" ng-repeat="group in main.groups">
                {{ group.name }}: {{ group.cards.length}} קלפים
            </li>
        </ul>
    </div>

    <div class="col-9">
        <h1>
            <i class="fas fa-club"></i>
            רביעיות
            <div class="btn-group float-right" role="group">
                <button class="btn btn-danger" ng-click="main.restart()">
                    התחל מהתחלה
                </button>
                <button class="btn btn-success" ng-click="main.doSave()">
                    שמור
                </button>
                <button class="btn btn-success" ng-click="main.draw()">
                    צייר
                </button>
            </div>
        </h1>
        <div class="row" style="padding-top: 10px" ng-repeat="group in main.groups">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 text-center">
                        <h3>{{group.name}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3" ng-repeat="card in group.cards">
                        <div style="margin-bottom: 10px">
                            <button class="btn btn-outline-danger" ng-click="main.removeCard(card)">
                                <i class="fa fa-trash"></i>
                            </button>
                            <select class="form-control"
                                    ng-options="group.moveToTitle for group in main.groups"
                                    ng-model="card.group"
                                    ng-change="main.cardGroupChanged(card)">
                            </select>
                        </div>
                        <div class="card" id="{{card.divId}}">
                            <div class="card-header bg-game-card text-center">
                                <h4 class="card-title">{{ card.name }}</h4>
                            </div>
                            <img class="card-img-top" ng-src="{{card.url}}" alt="{{card.name}}">
                            <ul class="list-unstyled">
                                <li ng-repeat="gc in card.group.cards" style="padding-right: 20px">
                                    &bull;
                                    <span ng-if="gc != card">
                                    {{gc.name}}
                                    </span>
                                    <span ng-if="gc == card && !main.printMode">
                                        <input class="active-card" ng-model="card.name" type="text">
                                    </span>
                                    <span ng-if="gc == card && main.printMode" class="active-card">
                                        {{gc.name}}
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>