@import "custom";
@import "~bootstrap/scss/bootstrap";

body {
  padding: 30px;
}

.upload-box {
  border: 4px black dashed;
  height: 200px;
  text-align: center;
}

.sidebar {
  @extend .bg-warning;
  min-height: 600px;
}

.active-card {
  color: red;
  font-weight: bold;
}

.bg-game-card {
  background: aqua;
}

.printed-card-wrapper {
  h4 {
    line-height: 40px;
    height: 40px;
    margin: 0px;
    font-weight: bolder
  }
  #printed-card {
    border: 3px black solid;
    width: 300px;
    margin: 5px;
    position: absolute;
    top: 50px;
    left: 50px
  }
  img {
    height: 294px;
    width: 294px
  }
  li {
      padding-left: 20px;
      height:25px;
  }
  .line {
      font-weight: bold;
  }
  .h4-wrapper {
    background: aqua
  }
}

